.dt-buttons{
    float: left;
}

.paginate_button{
    background: none !important;
}

.paginate_button:hover{
    background-color: rgb(194, 194, 194) !important;
    color: #fff !important;
}

.paginate_button.disabled{
    background-color: rgb(228, 228, 228) !important;
}

a[type='button'] > .icon{
    margin: 0;
}

.form-control{
    background-color: #ffffff;
}

.brighttheme{
    background-image: none !important;
}

#datatables_buttons_info{
    display: none !important;
}